html,body {
  font-family: arial;
  font-size: 1.1em;
}

.container {
  margin: auto;
  width: 800px;
}
input,textarea {
  font-size: 1.1em;
}


.offscreen {
  top: -1000px;
  font-size: 1px;
}

.navigation a {
  outline: none;
}

#videoplayer {
  text-align: center;
  position: relative;
  top: -100px;
}

.error {
  color: red;
}

#accessibilitybanner {
  background-color: rgb(17, 138, 178);
  width: 857px;
  height: 207px;
  text-align: center;
  padding-top: 70px;
}
ul{
  list-style-image: url("pics/dot.png");
}

nav:focus-within, iframe:focus-visible {
  outline: 4px solid crimson;
  border-radius: 3px;
}
*:focus-visible, *:focus {
  outline: 4px solid crimson;
  border-radius: 3px;
}
input:focus-visible {
  outline: 4px solid crimson;
  border-radius: 3px;
}
